.container-levensmark{
  
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  1fr ;

    padding: 30px;


    grid-template-areas:  
    "titulo"
    "parrafo" 
    "img";
}



.container-levensmark p{
    grid-area: parrafo;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.700);
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.container-levensmark p span{
    color: #f1683a;
    font-weight: bold;
}

.container-levensmark .img{
    grid-area: img;
    width: 100%;            /* o una medida fija como 300px */
    aspect-ratio: 1 / 1;    /* mantiene proporción cuadrada */
    overflow: hidden;
    border-radius: 10px;    /* opcional, para bordes redondeados */
}


.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* recorta y centra la imagen */
  display: block;
}

@media (min-width:768px){

    .container-levensmark{

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:  
            "img text"
    }

    .container-levensmark-text{
        grid-area: text;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-levensmark-text h2{
        font-size: 2.4rem;
    }

    .container-levensmark-text p{
        font-size: 1rem;
    }
}


@media (min-width:1024px){
    .container-levensmark-text p{
        font-size: 1.4rem;
    }
}

@media(min-width: 1650px)
{
    .container-levensmark{
        max-width: 1650px;
        margin: 0 auto;
    }
}