.container-levensmark{
  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;

    margin: 40px auto;
    padding: 30px;


    min-height: 70vh;
    min-width: 80vw;


    background-image: url("../assets/images/Elements/whatIsLevensmark.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    grid-template-areas:  
    ". titulo"
    ". parrafo" ;
}

.container-levensmark h2{
    grid-area: titulo;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 80px;
    text-shadow: 6px 6px 3px rgb(0 0 0 / 70%);

}

.container-levensmark p{
    grid-area: parrafo;
    text-shadow: 4px 4px 3px rgb(0 0 0);
    font-size: 0.8rem;
}