.container-release{
    display: flex;
    margin: 40px auto;
    padding: 80px 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 18%);;
}

.release-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86vw;
    background-color: #000;
    padding: 20px;

border-radius: 23px;
background: #000000be;
box-shadow:  -8px 8px 16px #000000,
             8px -8px 16px #131212;
}

.container-release .release-img{
    width: 300px;
}


.release-card  .gold-text {

    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
    color: #dea959;
}